    <div class="row">
      <div class="large-6 columns">
        <h2>License Plate Detector</h2>
      </div>
      <div class="large-6 columns main_menu">
        <ul>
          <li><a href="/registrar">Registrar chapas</a></li>
          <li><a href="/lista">Lista de chapas</a></li>
          <li><a href="/seguimiento">Seguimiento</a></li>
          <li><a href="/ajustes">Ajustes</a></li>
        </ul>
      </div>
    </div>
